.site-container{
  margin: 2rem auto;
  max-width: calc(100% - 80px);

}
.article-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(265px,1fr));
  gap: 2rem;
}
.article-image{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.article-image img{
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.article-card{
  background: #fcfdfe;
  border-radius: 20px;
  box-shadow:  5px 5px 20px #e6e6e6;
  transition: 0.5s;

}
.dark-theme .article-card{
  background: rgb(19, 19, 19);
  box-shadow: 5px 5px 20px #000000;
}
.article-card:hover{
  cursor: pointer;
}
.article-content{
  padding: 2rem;
}
.article-content .class-category{
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  display: block;
  text-decoration: none;
}
.article-content .card-title{
  margin: 1rem 0;
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.5rem;
}
.card-ex{
  position:relative;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-left: 2rem;
  font-weight: 200;
}
.clock::before{
  content: "\f017";
  font-family: fontAwesome;
}
@media screen and (min-width: 768px){
  .site-container{
    max-width: 608px;
  }
  .article-card{
    display: grid;
    grid-template-rows: 220px 1fr;

  }
}
@media screen and (min-width: 1280px)
{
  .site-container{
    max-width: 1156px;
  }
  .article-container{
    gap: 5rem;
  }
  .article-container{
    gap: 5rem;
  }
}

/*box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);*/
